:root{
    --mainFont: 'Berkshire Swash', cursive;
    --headersFont: 'Macondo', cursive;
    --darkBlue: #00224f;
    --lightBlue: #51d7ea;
}
*{
    margin: 0;
    padding: 0;
}
#bgVideo{
    z-index: -100;
    width: 100vw;
    height: 135vh;
    object-fit:cover;
    position: fixed;
    top: 0;
}
#bigContainer{
    display: grid;
    grid-template-rows: 30vh 63vh 7vh;
}
#headerContainer{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
#logosHeader, #navbar{
    width: 100%;
    height: 50%;
}
#logosHeader{
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 70px;  
    font-weight: bold;  
    font-family: var(--headersFont);
}
span{
    color:var(--lightBlue);
}
#indiLogo, #techLogo{
    position: absolute;
    width: 11vw;
}
#indiLogo{
    top: 0;
    height: 19vh;
    left: 0;
}
#techLogo{
    top: 1vh;
    height: 16vh;
    right: 1vw;
}
#navbar ul{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
    list-style-type: none;
}
#navbar ul li a{
    padding: 8px;
    border-top: 3.5px solid transparent;
    border-bottom: 3.5px solid transparent;
    border-radius: 0% 25%;
    text-decoration: none;
    font-family: var(--mainFont);
    font-weight: bold;
    color: var(--darkBlue);
    font-size: 30px;
    transition: 0.2s;
}
#navbar ul li .leftNavLinks{
    border-radius: 25% 0%;
    color: white;
}
#navbar ul li a:hover, #navbar ul li #activePage{
    border-color: var(--lightBlue);
}



#formContainer{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.formBoxes{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.formBoxes h2{
    padding: 0 20px;
    font-family: var(--headersFont);
    border-left: 3px solid black;
    border-right: 3px solid black;
    font-size: 40px;
    color: var(--darkBlue);
}
.formBoxes:first-child h2{
    color: white;
}
.bothForms{
    background: rgba(0, 0, 0, 0.7);
    width: 70%;
    height: 80%;
    border-radius: 15%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: white;
}
.bothForms input{
    width: 35%;
    font-size: 15px;
    transition: 0.1s;
    font-family: var(--mainFont);
}
.bothForms label{
    font-family: var(--mainFont);
    font-size: 18px;
}
.bothForms button{
    padding: 2px 10px ;
    cursor: pointer;
    font-family: var(--headersFont);
    font-size: 20px;
    color: var(--darkBlue);
    font-weight: bold;
    transition: 0.1s;
}
.bothForms button:hover{
    color: white;
    border-color: var(--darkBlue);
    background:var(--darkBlue);
}



#footerBox{
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, 0.4);
    display: flex;
    font-family: var(--mainFont);
}
#contactFooter, #myProjects{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 3.5vh;
}
#contactFooter{
    border-right: 1px solid black;
}
#myProjects{
    border-left: 1px solid black;
}
#contactFooter a, #myProjects a{
    text-decoration: none;
    color: black;
    transition: 0.2s;
    height: 100%;
}
#contactFooter a{
    height: 50%;
}
#myProjects img{
    height: 100%;
}