:root{
    --mainFont: 'Berkshire Swash', cursive;
    --headersFont: 'Luckiest Guy', cursive;;
    --darkBrown: #3f1910;
    --lightBrown: #ffedab;
}
*{
    margin: 0;
    padding: 0;
}
body{
    background: var(--lightBrown);
}
.big-container{
    display: grid;
    grid-template-rows: 30vh 63vh 7vh;
}
.header-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.logos-header, .navbar{
    width: 100%;
    height: 50%;
}
.logos-header{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 70px;  
    font-weight: bold;  
    font-family: var(--headersFont);
    z-index: 1000;
}
.main-title{
    color:var(--darkBrown);
    border-bottom: 8px double black;
}
.indi-logo, .tech-logo{
    position: fixed;
    width: 11vw;
    z-index: 100;
}
.indi-logo{
    top: 0;
    height: 19vh;
    left: 0;
}
.tech-logo{
    top: 1vh;
    height: 16vh;
    right: 1vw;
}
.navbar-ul{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
    list-style-type: none;
}
.navbar-links{
    padding: 8px;
    border-top: 3.5px solid transparent;
    border-bottom: 3.5px solid transparent;
    border-radius: 0% 25%;
    text-decoration: none;
    font-family: var(--mainFont);
    font-weight: bold;
    color: var(--darkBrown);
    font-size: 30px;
    transition: 0.2s;
}
.navbar-links:hover, .active-page{
    border-color: var(--darkBrown);
}



.form-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.form-boxes{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.form-header2{
    padding: 0 20px;
    font-family: var(--headersFont);
    border-left: 3px solid var(--darkBrown);
    border-right: 3px solid var(--darkBrown);
    font-size: 40px;
    color: var(--darkBrown);
}

.both-forms{
    background: white;
    width: 65%;
    height: 80%;
    border-radius: 15%;
    border: 5px double var(--darkBrown);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: var(--darkBrown);
    font-weight: bold;
}
.form-input{
    width: 35%;
    font-size: 15px;
    transition: 0.1s;
    font-family: var(--mainFont);
    color: var(--darkBrown);
}
.form-input:focus{
    background: var(--darkBrown);
    color: white;
}
.form-label{
    font-family: var(--mainFont);
    font-size: 18px;
}
.form-btn{
    color: var(--darkBrown);
    padding: 2px 10px ;
    cursor: pointer;
    font-family: var(--headersFont);
    font-size: 20px;
    transition: 0.1s;
}
.form-btn:hover{
    color: white;
    border-color: var(--darkBrown);
    background:var(--darkBrown);
}



.footer-box{
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    font-family: var(--mainFont);
}
.contact-footer, .projects-footer{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 3.5vh;
    font-weight: bold;
}
.contact-links, .projects-links{
    text-decoration: none;
    color: black;
    transition: 0.2s;
    height: 100%;
}
.contact-links{
    height: 50%;
}
.projects-img{
    height: 100%;
}