:root{
    --mainFont: 'Berkshire Swash', cursive;
    --headersFont: 'Macondo', cursive;
    --darkBlue: #00224f;
    --lightBlue: #51d7ea;
}
*{
    margin: 0;
    padding: 0;
}
#bgVideo{
    z-index: -100;
    width: 100vw;
    height: 135vh;
    object-fit:cover;
    position: fixed;
    top: 0;
}
#bigContainer{
    display: grid;
    grid-template-rows: 30vh 63vh 7vh;
}
#headerContainer{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
#logosHeader, #navbar{
    width: 100%;
    height: 50%;
}
#logosHeader{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 70px;  
    font-weight: bold;  
    font-family: var(--headersFont);
}
span{
    color:var(--lightBlue);
}
#indiLogo, #techLogo{
    position: fixed;
    width: 11vw;
    z-index: 100;
}
#indiLogo{
    top: 0;
    height: 19vh;
    left: 0;
}
#techLogo{
    top: 1vh;
    height: 16vh;
    right: 1vw;
}
#navbar ul{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
    list-style-type: none;
}
#navbar ul li a{
    padding: 8px;
    border-top: 3.5px solid transparent;
    border-bottom: 3.5px solid transparent;
    border-radius: 0% 25%;
    text-decoration: none;
    font-family: var(--mainFont);
    font-weight: bold;
    color: var(--darkBlue);
    font-size: 30px;
    transition: 0.2s;
}
#navbar ul li .leftNavLinks{
    border-radius: 25% 0%;
    color: white;
}
#navbar ul li a:hover, #navbar ul li #activePage{
    border-color: var(--lightBlue);
}



#SliderBox{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
#sliderImg{
    position: absolute;
    right: -25%;
    top: 1vw;
    border-radius: 15%;
    width: 25%;
    height: 80%;
    animation: slider 25s infinite;
}
@keyframes slider {
    0%{}
    10%{transform: translate(-150%);}
    20%{transform: translate(5%);}
    30%{transform: translate(-150%);}
    40%{transform: translate(5%);}
    50%{transform: translate(-150%);}
    60%{transform: translate(5%);}
    70%{transform: translate(-150%);}
    80%{transform: translate(5%);}
    90%{transform: translate(-150%);}
    100%{transform: translate(0%);}
}


#footerBox{
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, 0.4);
    display: flex;
    font-family: var(--mainFont);
}
#contactFooter, #myProjects{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 3.5vh;
}
#contactFooter{
    border-right: 1px solid black;
}
#myProjects{
    border-left: 1px solid black;
}
#contactFooter a, #myProjects a{
    text-decoration: none;
    color: black;
    transition: 0.2s;
    height: 100%;
}
#contactFooter a{
    height: 50%;
}
#myProjects img{
    height: 100%;
}
