:root{
    --mainFont: 'Berkshire Swash', cursive;
    --headersFont: 'Luckiest Guy', cursive;;
    --darkBrown: #3f1910;
    --lightBrown: #ffedab;
}
*{
    margin: 0;
    padding: 0;
}
body{
    background: var(--lightBrown);
    overflow-x: hidden;
}
.big-container{
    display: grid;
    grid-template-rows: 30vh auto 7vh;
}


.header-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.logos-header, .navbar{
    width: 100%;
    height: 50%;
}
.logos-header{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 70px;  
    font-weight: bold;  
    font-family: var(--headersFont);
    z-index: 1000;
}
.main-title{
    color:var(--darkBrown);
    border-bottom: 8px double black;
}
.indi-logo, .tech-logo{
    position: fixed;
    width: 11vw;
    z-index: 100;
}
.indi-logo{
    top: 0;
    height: 19vh;
    left: 0;
}
.tech-logo{
    top: 1vh;
    height: 16vh;
    right: 1vw;
}
.navbar-ul{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
    list-style-type: none;
}
.navbar-links{
    padding: 8px;
    border-top: 3.5px solid transparent;
    border-bottom: 3.5px solid transparent;
    border-radius: 0% 25%;
    text-decoration: none;
    font-family: var(--mainFont);
    font-weight: bold;
    color: var(--darkBrown);
    font-size: 30px;
    transition: 0.2s;
}
.navbar-links:hover, .active-page{
    border-color: var(--darkBrown);
}



#moviePage{
    z-index: 1000;
    position: absolute;
    left: 100%;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background: var(--lightBrown);
}
#leaveBtn{
    z-index: 1000;
    position: absolute;
    top: 17.5%;
    right: 47.5%;
    width: 5%;
    height: 10%;
    cursor: pointer;
    background: var(--darkBrown);
    color: var(--lightBrown);
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    border: 7px double var(--lightBrown);
    border-radius: 50%;
    transition: 0.1s;
}
#leaveBtn:hover{
    background: var(--lightBrown);
    color: var(--darkBrown);
    border-color: var(--darkBrown);
}
#movieBox{
    width: 100%;
    height: 100%;
    display: flex;
}
#movieImgBox{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#movieImg{
    width: 60%;
    height: 60%;
    border-radius: 10%;
    border: 8px double var(--darkBrown);
}
#movieInfo{
    align-self: flex-end;
    width: 50%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    color: var(--darkBrown);
}
.movie-info-header1{
    font-size: 40px; 
    font-family: var(--headersFont);
}
.movie-info-header2{
    font-size: 25px; 
    font-family: var(--mainFont);
}
.synopsis{
    max-height: 40%;
    overflow: auto;
}
.movie-info-link{
    text-decoration: none;
    padding: 5px;
    border: 5px solid var(--darkBrown) ;
    color: var(--darkBrown);
    background: var(--lightBrown);
    transition: 0.2s;
}
.movie-info-link:hover{
    color: var(--lightBrown);
    background: var(--darkBrown);
}




.sort-search-container{
    display: flex;
    height: 20vh;
    width: 100%;
}
.sort-box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}
.sort-title{
    font-family: var(--headersFont);
    margin-right: 3vw;
    color: var(--darkBrown);
    font-size: 50px;
}
#sortSelect{
    background: var(--darkBrown);
    color: var(--lightBrown);
    font-family: var(--mainFont);
    padding: 5px;
    font-size: 25px;
    border: none;
    border-top: 3px solid;
    border-bottom: 3px solid;
    border-radius: 0% 15%;
    cursor: pointer;
}


.search-box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}
#searchInput{
    height: 30%;
    width: 60%;
    margin-right: 3%;
    border: 2px solid black;
    background: var(--darkBrown);
    color: white;
    font-size: 20px;
    transition: 0.1s;
}
#searchInput:focus{
    background: var(--lightBrown);
    color: var(--darkBrown);
}
#searchBtn{
    cursor: pointer;
    height: 30%;
    padding: 5px 10px;
    border: 2px solid black;
    border-radius: 50%;
    background: var(--lightBrown);
    color: var(--darkBrown);
    font-size: 20px;
    transition: 0.1s;
}
#searchBtn:hover{
    background: var(--darkBrown);
    color: var(--lightBrown);
}



#cardsContainer{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}


.movie-card{
    display: flex;
    flex-direction: column;
    width: 28%;
    height: 70vh;
    background: rgba(0, 0, 0, 0.9);
    border-radius: 15%;
    margin-bottom: 5vh;
    font-family: var(--headersFont);
    transition: 0.2s;
}
.movie-card:hover{
    background: rgba(0, 0, 0, 0.3);
}
.movie-card:hover> .card-info-box{
    color: black;
}

.card-img-box{
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
}
.card-img{
    width: 100%;
    height: 100%;
    border-radius: 5% ;
}


.card-info-box{
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    color: var(--lightBrown);
    text-align: center;
}
.card-header-1{
    font-size: 40px;
}
.card-header-2{
    font-size: 20px;
}


.buttons-box{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.card-buttons{
    background: white;
    color: var(--darkBrown);
    padding: 5px 10px;
    width: 30%;
    height: fit-content;
    font-family: var(--mainFont);
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    transition: 0.1s;
    border: 3px solid black;
    border-radius:  0 50%;
}
.card-buttons:hover{
    background: var(--darkBrown);
    color: white;
    border-color: white;
}
.card-buttons:last-of-type{
    background: var(--darkBrown);
    color: white;
    border-radius: 50% 0;
}
.card-buttons:last-of-type:hover{
    background: white;
    color: var(--darkBrown);
    border-color: var(--darkBrown);
}



.footer-box{
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    font-family: var(--mainFont);
}
.contact-footer, .projects-footer{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 3.5vh;
    font-weight: bold;
}
.contact-links, .projects-links{
    text-decoration: none;
    color: black;
    transition: 0.2s;
    height: 100%;
}
.contact-links{
    height: 50%;
}
.projects-img{
    height: 100%;
}