:root{
    --mainFont: 'Berkshire Swash', cursive;
    --headersFont: 'Macondo', cursive;
    --darkBlue: #00224f;
    --lightBlue: #51d7ea;
}
*{
    margin: 0;
    padding: 0;
}
body{
    overflow-x: hidden;
}
#bgVideo{
    z-index: -100;
    width: 100vw;
    height: 135vh;
    object-fit:cover;
    position: fixed;
    top: 0;
}
#bigContainer{
    display: grid;
    grid-template-rows: 30vh auto 7vh;
}
#headerContainer{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
#logosHeader, #navbar{
    width: 100%;
    height: 50%;
}
#logosHeader{
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 70px;  
    font-weight: bold;  
    font-family: var(--headersFont);
}
span{
    color:var(--lightBlue);
}
#indiLogo, #techLogo{
    position: fixed;
    width: 11vw;
}
#indiLogo{
    top: 0;
    height: 19vh;
    left: 0;
}
#techLogo{
    top: 1vh;
    height: 16vh;
    right: 1vw;
}
#navbar ul{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
    list-style-type: none;
}
#navbar ul li a{
    padding: 8px;
    border-top: 3.5px solid transparent;
    border-bottom: 3.5px solid transparent;
    border-radius: 0% 25%;
    text-decoration: none;
    font-family: var(--mainFont);
    font-weight: bold;
    color: var(--darkBlue);
    font-size: 30px;
    transition: 0.2s;
}
#navbar ul li .leftNavLinks{
    border-radius: 25% 0%;
    color: white;
}
#navbar ul li a:hover, #navbar ul li #activePage{
    border-color: var(--lightBlue);
}



#moviePage{
    z-index: 1000;
    position: absolute;
    left: 100%;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
#leaveBtn{
    z-index: 1000;
    position: absolute;
    top: 15%;
    right: 47.5%;
    width: 5%;
    height: 10%;
    cursor: pointer;
    background: var(--darkBlue);
    color: white;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    border: 7px double white;
    border-radius: 50%;
    transition: 0.1s;
}
#leaveBtn:hover{
    background: white;
    color: var(--darkBlue);
    border-color: var(--darkBlue);
}



#movieBox{
    width: 100%;
    height: 100%;
    display: flex;
}
#movieImg{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#movieImgId{
    width: 60%;
    height: 60%;
    border-radius: 10%;
}


#movieInfo{
    align-self: flex-end;
    width: 50%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
#movieInfo h1{
    font-size: 40px; 
    font-family: var(--headersFont);
}
#movieInfo h2{
    font-size: 25px; 
    font-family: var(--mainFont);
}
#synopsis{
    max-height: 40%;
    overflow: auto;
}


#sortAndSearchBox{
    display: flex;
    height: 20vh;
    width: 100%;
}

#sortBox{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}
#sortBox h2{
    font-family: var(--headersFont);
    margin-right: 3vw;
    color: white;
    font-size: 50px;
}
#sortSelect{
    background: var(--darkBlue);
    color: var(--lightBlue);
    font-family: var(--mainFont);
    padding: 5px;
    font-size: 25px;
    border: none;
    border-top: 3px solid;
    border-bottom: 3px solid;
    border-radius: 0% 15%;
    cursor: pointer;
}

#searchBox{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}
#searchBox input{
    height: 30%;
    width: 60%;
    margin-right: 3%;
    border: 2px solid black;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    font-size: 20px;
    transition: 0.1s;
}
#searchBox input:focus{
    background: rgba(255, 255, 255, 0.7);
    color: black;
}
#searchBox button{
    cursor: pointer;
    height: 30%;
    padding: 5px 10px;
    border: 2px solid black;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.7);
    color: var(--lightBlue);
    font-size: 20px;
    transition: 0.1s;
}
#searchBox button:hover{
    background: var(--lightBlue);
    color: var(--darkBlue);

}

#cardsContainer{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}


.movieCard{
    display: flex;
    flex-direction: column;
    width: 28%;
    height: 70vh;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 15%;
    margin-bottom: 5vh;
    font-family: var(--headersFont);
    transition: 0.2s;
}
.movieCard:hover{
    background: rgba(255, 255, 255, 0.6);
}
.movieCard:hover> .cardInfoBox{
    color: black;
}

.cardImgBox{
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
}
.cardImgBox img{
    width: 100%;
    height: 100%;
    border-radius: 5% ;
}
    

.cardInfoBox{
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    color: white;
    text-align: center;
}
.cardInfoBox h1{
    font-size: 40px;
}
.cardInfoBox h2{
    font-size: 20px;
}


.btnsBox{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.btnsBox button{
    background: white;
    color: var(--darkBlue);
    padding: 5px 10px;
    width: 30%;
    height: fit-content;
    font-family: var(--mainFont);
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    transition: 0.1s;
    border: 3px solid black;
    border-radius:  0 50%;
}
.btnsBox button:hover{
    background: var(--darkBlue);
    color: white;
    border-color: white;
}
.btnsBox button:last-of-type{
    background: var(--darkBlue);
    color: white;
    border-radius: 50% 0;
}
.btnsBox button:last-of-type:hover{
    background: white;
    color: var(--darkBlue);
    border-color: var(--darkBlue);
}

#footerBox{
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, 0.4);
    display: flex;
    font-family: var(--mainFont);
}
#contactFooter, #myProjects{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 3.5vh;
}
#contactFooter{
    border-right: 1px solid black;
}
#myProjects{
    border-left: 1px solid black;
}
#contactFooter a, #myProjects a{
    text-decoration: none;
    color: black;
    transition: 0.2s;
    height: 100%;
}
#contactFooter a{
    height: 50%;
}
#myProjects img{
    height: 100%;
}