*{
    margin: 0;
    padding: 0;
}
#bgVideo{
    z-index: -100;
    width: 100vw;
    height: 135vh;
    object-fit:cover;
    position: fixed;
    top: 0;
}
#bigContainer{
    display: grid;
    grid-template-rows: 30vh auto 5vh;
}



#headerContainer{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
#logosHeader, #navbar{
    width: 100%;
    height: 50%;
}
#logosHeader{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;    
    font-family: 'Fredericka the Great', cursive;
}
span{
    color:#51d7ea;
}



#indiLogo, #techLogo{
    position: absolute;
    width: 11vw;
}
#indiLogo{
    top: 0;
    height: 19vh;
    left: 0;
}
#techLogo{
    top: 1vh;
    height: 16vh;
    right: 1vw;
}



#navbar ul{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
    list-style-type: none;
}
#navbar ul li a{
    padding: 8px;
    border-top: 3.5px solid transparent;
    border-bottom: 3.5px solid transparent;
    border-radius: 0% 25%;
    text-decoration: none;
    font-family: 'Berkshire Swash', cursive;
    font-weight: bold;
    color: #00224f;
    font-size: 30px;
    transition: 0.2s;
}
#navbar ul li .leftNavLinks{
    border-radius: 25% 0%;
    color: white;
}
#navbar ul li a:hover, #navbar ul li #activePage{
    border-color: #51d7ea;
}



#cardsContainer{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}


.movieCard{
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 60vh;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 15%;
    margin-bottom: 5vh;
    font-family: 'Fredericka the Great', cursive;
}


.cardImgBox{
    width: 100%;
    height: 50%;
}
.cardImgBox img{
    width: 100%;
    height: 100%;
    border-radius: 15% 15% 0 0;
}


.cardInfoBox{
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    color: white;
}
.cardInfoBox h1{
    font-size: 30px;
}
.cardInfoBox h2{
    font-size: 20px;
}


.btnsBox{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.btnsBox button{
    height: fit-content;
    font-family: 'Fredericka the Great', cursive;
    font-weight: bold;
    font-size: 16px;
}




#contactFooter{
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.7);
    font-size: 3vh;
    color: white;
    width: 100%;
    height: 100%;
    font-family: 'Berkshire Swash', cursive;
}
#contactFooter a{
    margin: 0 5vw;
    text-decoration: none;
    color: #51d7ea;
    transition: 0.2s;
}
#contactFooter a:hover{
    color:white;
}